<div class="input-group mb-3">
    <input #todoItem
           type="text"
           class="form-control"
           placeholder="Create a todo item"
           aria-label="Create a todo item"
           aria-describedby="basic-addon2"
           (keyup.enter)="add(todoItem)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"
              type="button"
              (click)="add(todoItem)">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
</div>

<div id="todos">
  <div *ngFor="let item of items; let i = index">
    <todo-item [model]="item"
               [index]="i"
               (onRemove)="remove($event)">
    </todo-item>
  </div>
</div>
