<form #form (ngSubmit)="submit(form)">
  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" aria-describedby="loginHelp" placeholder="Enter your login">
    <small id="loginHelp" class="form-text text-muted">You need write your login for sign in and password.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
