<div class="card">
    <div class="card-header">
      <todo-nav (onEdit)="_isEdit = true"
                (onRemove)="remove()"
                (onChecked)="isChecked($event)">
      </todo-nav>
    </div>

    <div class="card-body">
        <h5 *ngIf="!_isEdit"
            class="card-title"
            [class.todo-finished]="_isChecked">
            {{model.Title}}
        </h5>
        <div *ngIf="_isEdit">
            <div class="form-group">
                <input #todoTitle
                       type="text"
                       class="form-control"
                       id="title"
                       aria-describedby="title"
                       placeholder="Enter title"
                       value="{{model.Title}}">
              </div>

              <div class="btn-edit">
                <button type="submit"
                        class="btn btn-dark btn-sm"
                        (click)="update(todoTitle.value)">
                        Update
                </button>

                <button type="submit"
                        class="btn btn-dark btn-sm"
                        (click)="_isEdit = false">
                        Cancel
                </button>
              </div>

        </div>
      </div>
</div>
