<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="onCompleted.emit(isCompleted)">
      <i class="far"
         [class.fa-circle]="!isCompleted"
         [class.fa-check-circle]="isCompleted">
      </i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="onEdit.emit()">
      <i class="far fa-edit"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="onRemove.emit()">
      <i class="far fa-times-circle"></i>
    </a>
  </li>
</ul>
